@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* Typography  */
    --font-sans: Overpass;
    --font-mono: "IBM Plex Mono";

    /* Colors */
    --color-polar-grey: #f2f2f2;
    --color-garnet: #8f001a;
    --color-charcoal: #2d2d2c;
}