<header>
    <nav class="navbar navbar--main">
        <menu>
            <li class="navbar__logo--main"><a href="/"><img src="" alt="The UORocketry Logo"></a></li>
            <li><a href="/about"><i class="fa-solid fa-info"></i> About</a></li>
            <li><a href="/projects"><i class="fa-solid fa-rocket"></i> Projects</a></li>
            <li><a href="/join-us"><i class="fa-solid fa-user-plus"></i> Join Us</a></li>
            <li><a href="/sponsors"><i class="fa-solid fa-heart"></i> Sponsors</a></li>
        </menu>
    </nav>
</header>