---
layout: default
---

<hgroup>
    <h1>{{ page.title }}</h1>
    <p>{{ page.motto }}</p>
</hgroup>

<figure><a href="/join-us"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a></figure>

{{ content }}

<div class="interact interact--important">
    <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=sdof1BV-_Uy1-nIA5U3ra85kgIk8EaVPsyEHt_kmPfdURVhUU0Q4UDNTSVRSSDMwWEhUNVBUODdJRiQlQCN0PWcu"><button class="interact__button interact--important">
        <i class="fa-solid fa-user-plus"></i> Join Us!
    </button></a>
</div>
