@mixin background-fade-hover($color: white, $duration: 0.3s, $timing-function: ease) {
	transition: background-color $duration $timing-function;

	&:hover {
		background-color: rgba($color: $color, $alpha: 7.5%);
	}

	&:active {
		background-color: rgba($color: $color, $alpha: 17.5%);
	}
}