@use "base/colors";
@use "components/lists";

a {
    transition: filter 0.1s ease;
    text-decoration: none;
    color: colors.$primary;
    font-weight: 600;

    &:hover {
        filter: brightness(50%)
    }
}

img {
    max-width: 100%;
}

body {
    text-align: center;
}

footer {
    margin-top: 6em;
    p {
        text-align: center;
        margin: 0 auto;
    }
}

p {
    text-align: left;
    margin-left: 1em;
}
