@use "lists";
@use "buttons";

.link--logo {
    @include buttons.interactable;

    display: inline-block;
    text-align: center;
    color: white;
    width: 2.25rem;
    height: 2.25rem;
    border: solid white 1px;
    border-radius: 50%;

    i {
        line-height: 2.25rem;
    }
}

nav#header ul {
    @include lists.horizontal-list;

    display: flex;
    flex-flow: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 70vw;
    border: 1px solid white;
    border-radius: 4px;
    font-size: x-large;
    font-weight: 300;
    text-align: center;

    li {
        flex: 1;
        padding: 1.2em 0;
        margin-left: 0;
        margin-right: 0;
        border-left: 1px solid white;
        overflow: hidden;
        text-wrap: nowrap;
    }

    li:first-child {
        padding-left: 1em;
        border-left: none;
    }

    li:last-child {
        padding-right: 1em;
    }
}